<!--Header-->

<div class="header-div">
  <div class="navbar-div">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/noteTaker">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/login">Login/Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/your-notes">Your Notes</a>
      </li>
    </ul>
  </div>
</div>
<!--  Title Dispaly-->

<!--  Title Dispaly-->
<!--Header end --> 
 <!--background-curve -->
{{!-- <div class="background-curve"> --}}
<!--Wrapper -->
<div class=" container wrapper">
<h1 class='main-title'>
  NoteTaker
</h1>
<div class="container tell-container">
   <div class="row"> <p class="tell-text">This is where you can write and edit your notes </p> </div>
  <div class="row"> <p  class="tell-text">Save those notes to use later </p></div>
  <div class="row"><p  class="tell-text">View and organize your notes</p>  </div>
</div>
 
  <div class="container tell-container">
    <div class="row">
     <div class="col botCol log/in-text">
  <p class="tell-log">Just Register and Login</p>
  <div class="prof">
    <canvas class="profile-design">
      
    </canvas>
  </div>
</div>
  <div class="col botCol ready-text">
    <p class="tell-ready">Your Ready To Go</p> 
     <div class="arrow">

  </div>
  </div> 
    </div>
  </div>

  
</div>


<!--Wrapper end -->
<div class="push"></div>
<!--Footer -->
<div class="footer"></div>
<!--Footer end -->