<!--Header-->
<div class="header-div">
  <div class="navbar-div">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/noteTaker">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/login">Login/Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/your-notes">Your Notes</a>
      </li>
    </ul>
  </div>
</div>
<!--Header end --> 
 <!--background-curve -->
<div class="background-curve">
<!--Wrapper -->
<div class=" container wrapper">

  <!--Top Section -->
  <div class="row top-section">
    <div class=" row top-title">
      <h1 class="main-title">
        Note Taker
      </h1>
    </div>
  </div>
    <!--Middle Section -->
  <div class="row middle-section">
  <section class="descript-txt">
Want to write and save a notes so you can read them anytimem then try our service. Simple and easy to to use for free.
  </section>



  </div>
      <!--Middle Section end -->
  <!--Bottom Section -->
  <div class=" row bottom-section">
    <div class="row  write-div sect-box">
      <h5>Write A Note</h5>
      <div class="icon">
            <img  src="/images/notepad-icon.png" alt = "notepad" class="notepade-icon" ></img>

      </div>
    </div>
    <div class="row save-div sect-box">
      <h5>Save A Note</h5>
      <div class="icon">
        <div class="save-btn-F">
        <p class="save-text">
          Save
        </p>
        </div>
        <img  src="/images/cursor-icon.png" alt = "cursor" class="cursor-icon" ></img>
      </div>
    </div>
    <div class="row organize sect-box">
      <h5>Organize Your Notes</h5>
      <div class="icon">
                <img  src="/images/folder-icon.png" alt = "folder" class="folder-icon" ></img>

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!--background-curve end -->

<!--Wrapper end -->
<div class="push"></div>
<!--Footer -->
<div class="footer"></div>
<!--Footer end -->