
<!--Header-->
<div class="header-div">
  <div class="navbar-div">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
 
</ul>
</div>
</div>
<!--Header end -->
<!--Wrapper -->
<div class=" container wrapper">

  <!--Top Section -->

<div class="row top-section">

<div class=" row top-title">
     
     <h1 class="main-title">
       Note Taker
     </h1>

        </div>
</div>
<!--Bottom Section -->

<div class=" row bottom-section">
  
<div class="row  write-div sect-box">
<h5>Write A Note</h5>
<div class="page">
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
    
  </div>
</div>
</div>
<div class="row save-div sect-box">
<h5>Save A Note</h5>

</div>
<div class="row organize sect-box">
<h5>Organize Your Notes</h5>


</div>

</div>
</div>
<!--Wrapper end -->
<!--Footer -->
<div class="footer"></div>
<!--Footer end -->

