
<!--Header-->
<div class="header-div">
  <div class="navbar-div">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
 
</ul>
</div>
</div>
<!--Header end -->
<!--Wrapper -->

<div class=" container wrapper loginBackground">
 
 <div class="register-log row ">
<div class="col register "
<h1>Register</h1>
<form action="/account_create" method="post" autocomplete="on">
  <label for="username">
    <i class="fas fa-user"></i>
  </label>
  <input type="text" name="username" placeholder="Username" id="username" required>
  <label for="password">
    <i class="fas fa-lock"></i>
  </label>
  <input type="password" name="password" placeholder="Password" id="password"required>
  <label for="email">
    <i class="fas fa-envelope"></i>
  </label>
  <input type="email" name="email" placeholder="Email" id="email" required>
  <input type="submit" value="Register">
</form>
 </div>
   <div class="col">
     <form action="/authorize" method="post" autocomplete="on">
  <label for="username">
    <i class="fas fa-user"></i>
  </label>
  <input type="text" name="username" placeholder="Username" id="username" required>
  <label for="password">
    <i class="fas fa-lock"></i>
  </label>
  <input type="password" name="password" placeholder="Password" id="password"required>
    <input type="submit" value="Login">

</form>
   </div>

</div>
</div>
<!--Wrapper end -->
<!--Footer -->
<div class="footer"></div>
<!--Footer end -->

