
<!--Header-->
<div class="back-forth overlay not-active">
<div class="header-div">
  <div class="navbar-div">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/noteTaker">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/login">Login/Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteTaker/your-notes">Your Notes</a>
      </li>
        <li class="nav-item">
          {{>logOrnot this}}
      </li>
    </ul>
  </div>
</div>
<!--Header end -->
<!--Wrapper -->
<div class=" wrapper noteBoard">
<div class="noteBox">
<div class="sidebar-notes category">
</div>
<div class="notes-container">
<div class="dummy-notes item">

</div>
<div class="dummy-notes item">

</div>
<div class="dummy-notes item">

</div>
<div class="dummy-notes item">

</div>
<div class="dummy-notes item">

</div>

</div>
</div>
</div>
<!--Wrapper end -->
<!--Footer -->
<div class="footer"></div>
<!--Footer end -->
</div>

<div class="overlay not-active">

</div>
<div class="new-note-form  note-Notactive">
  <form method="POST" action="/account_owner/newNote" >
  <label class="label">Note Title</label>
  <div class="title">
    <input type="text" class="n-note-title" name="title"></input>
  </div>
      <label class="note-text">Write Your Note</label>
  <div class="text-note">
    <textarea class="note-text" name="note">
  </div>
  </form>
</div>