/* Main Components for the Site */
html{
    font-size: 62.5%;
}
html,
body,
.wrapper,.background-curve {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
}


h5{
    font-family: 'Anton', sans-serif;

    text-align: center;
}
.wrapper {
    height: 90%;
    /* margin-bottom: 10%; */
    border-radius: 6%;
    background-color:white;
}
/*log-parital */
.log-partial{
    display: flex;
    flex-wrap: wrap
}


/* Home Page */
.top-section,
.top-title,
.mainscreen,
h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.navbar-div {
    padding: auto;
    margin: 0;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

.top-title {
    position: relative;
}

.top-section {
    margin: 0 !important;
    height: 20%;
}
.middle-section{
    width: 100%;
    margin: auto;
    height: 15%;
}
.bottom-section {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto, auto, auto;
    height: 65%;
    grid-gap: 5%;

}

.sect-box {
/* background-color: rgb(201, 192, 192); */
    height: 100%;
    position: relative;
}
.sect-box > h5{
    text-align: center;
    width: 100%;
}
.sect-box > text{
    text-align: center;
    width: 100%;
}
.footer {
    height: 5%;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
}

.header-div {
    height: 5%;
    display: block;
}

.main-title {
    line-height: 7;
}



.sign-login{
border: solid black;
height: 80%;
display: inline-block;
vertical-align: middle;
width: 100%;
position: relative;
margin: auto;
margin-top: 10%;
margin-bottom: 10%;
}



.loginBackground{
    display:table;

}
.l-s{
    height: 50%;
    width: 100%;
    display: inline-block;
}
.form-group{
    text-align: center;
}
.form-control{
    width: 50%;
    margin: 0 auto;
}
.newloginBtn{
    margin: 0 auto;
    display: block;
}
.loginBtn{
    margin: 0 auto;
    display: block;
}
.icon{
    height: 80%;
    margin: auto;
    padding: 1% 3% 3% 3%;
    display: inline-block;
}
.save-btn-F{
    height: 5rem;
    width: 12rem;
    border: solid;
    border-color: #8080802e;
    border-width: 0.5rem;
    text-align: center;
    padding: 5%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px #8080805e;

}
.save-text{
    margin: 0;

}
.cursor-icon{
    display: block;
    margin: auto;
    z-index: 2;
    bottom: 15px;
    left: 35px;
    position: relative;

}

