


/* Main Components for the Site */
*{
    margin: 0;
    padding: 0;
}



html {
    font-size: 62.5%;
}

html,
body,
.wrapper,
.background-curve {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
    font-size: 62.5%;

}

body {
    font-size: 1.5rem
}

h5 {
    font-family: 'Anton', sans-serif;

    text-align: center;
}

.wrapper {
    height: 85%;
    /* margin-bottom: 10%; */
    border-radius: 6%;
    background-color: white;
    padding-top: 80px;

}

/*log-parital */
.log-partial {
    display: flex;
    flex-wrap: wrap
}

.logOut-btn{
    background-color: white;
}


/* Home Page */
.top-section,
.top-title,
.mainscreen,
h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.navbar-div {
    padding: auto;
    margin: 0;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

.nav-link {
    font-size: 1.7rem;

}

.top-title {
    position: relative;
    transform: rotate(-45deg);
    right: 25%;
    top: 80%;}

.top-section {
    margin: 0 !important;
    height: 20%;
}

.middle-section {
    width: 100%;
    margin: auto;
    height: 15%;
}

.bottom-section {
    width: 100%;
    margin: 0;
    overflow: hidden;
 
}

.sect-box {
    /* background-color: rgb(201, 192, 192); */
    height: 100%;
    position: relative;
}

.sect-box>h5 {
    text-align: center;
    width: 100%;
}

.sect-box>text {
    text-align: center;
    width: 100%;
}

.footer {
    height: 5%;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
}

.header-div {
    height: 10%;
    display: block;
    position: relative;
    z-index: 1;
}

.main-title {
    font-size: 8rem;
    width: 59%;
    text-align: center;
    /* margin: 0 auto; */
    /* bottom: 0%; */
    top: 10px;
    /* z-index: -1; */
    position: absolute;
}

section {
text-align: center;
width: 100%;
}


/*////////////////////////////////////////////////////////////////////////W               */
.sign-login {
    border: solid black;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}



.loginBackground {
    display: table;

}

.l-s {
    height: 50%;
    width: 100%;
    display: inline-block;
}

.form-group {
    text-align: center;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.newloginBtn {
    margin: 0 auto;
    display: block;
}

.loginBtn {
    margin: 0 auto;
    display: block;
}

.icon {
    height: 80%;
    margin: auto;
    padding: 1% 3% 3% 3%;
    display: inline-block;
}

.save-btn-F {
    height: 5rem;
    width: 12rem;
    border: solid;
    border-color: #8080802e;
    border-width: 0.5rem;
    text-align: center;
    padding: 5%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px #8080805e;

}

.save-text {
    margin: 0;

}

.cursor-icon {
    display: block;
    margin: auto;
    z-index: 2;
    bottom: 15px;
    left: 35px;
    position: relative;

}
.folder-icon{
    padding: 0 2px 3px;

}
.div-save{
    padding: 10% 3% 3% 3%;

}
/*/////////////////////////////////////////////////////////          */

@media screen and (min-width: 400px) {
    .bottom-section {
      grid-template-columns: 1fr !important;
      grid-template-rows: repeat(3, 33%);
      justify-content: center;

    }
    .main-title{
        font-size: 3rem;
        top: 200px;
    }
    .wrapper{
     padding: 0;
    }
  }
  @media screen and (max-width:400px) {
    .bottom-section {
        overflow: hidden;
        display: grid;
        height: 32%;
        
        grid-template-columns: 20% 20% 20%;
        margin-left: 50%;
    }
  }