

.Notes-Page{
    height: 100%;
    width: 100%;
}

.overlay-null{
    height: 100%;
    width: 100%;
}
.overlay-on{
    z-index: 0;
    display: block;
    background: #5857577a;
  
}
.new-note-form-none{
    display: none;
}
.new-note-form{
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
}
.note-active{
    display: block;
    width: 50%;
    height: 70%;
    margin: auto;
    z-index: 1;
}
.overlay{
    display: none;
}
.noteBoard {
    margin: 0;
    z-index: 0;
    padding: 0;
    height: 85%;
    padding-left: 2%;
    padding-right: 2%;
    display:initial;
}
.noteBox{
    height: 85%;  
      width: 100%;
   border: solid black;
}
.notes-container{
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    min-height: 100%;
    height: auto;   
     grid-auto-rows: 1fr;
    
    grid-template-columns: repeat(3, 3fr);
}

.sidebar{
    width: 5%;
    height: 85%;
    display: inline-block;  
    float: left;
  display: relative;
}
.sidebar > ul {
    text-decoration: none;
    list-style-type: none;

}

.sidebar-notes-Active{
    min-height: 85%;
    width: 15%;
    /* margin-right: 0 !important; */
    display: none;
    float: left;
}



.overlay-header, .overlay-noteBoard,.overlay-footer{
    z-index: -100;
    position: relative;
}


.note{
    display: block;
    border: solid black;
    height: 10rem;
    width: 19rem;
    overflow: hidden;
}
.note::after{
    content: '';
    clear: both;
    display: table;
}
.note:hover{
    border: solid blue 3px;
 
}
.note-inner{
    height: 100%;
    width: 100%;
    float: left;
}


.holding-grid{
    display: inline-block;
    min-height:85%;
    height: auto;
    min-width: 85%;
    width: auto;
    padding: 4rem 2rem;
}


@media  screen and (max-width: 600px){
    .notes-container{

        grid-template-columns:repeat(3, 1fr);
        grid-auto-rows: 1fr;

    }
    .holding-grid{
        padding: 2rem 2rem;
    }
    .note{
        height: 8rem;
    width: 6rem;
    }
    .nav-link{
        font-size: 1.2rem;

    }

    .noteBoard{
        display: initial;
    }
} 
@media   screen and (min-width: 600px){
    .notes-container{

        grid-template-columns: repeat(3 , 1fr);
        grid-auto-rows: auto;


    }

}
@media  screen and (min-width: 900px){
    .notes-container{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;

    }

} 
@media  screen and (min-width: 1100px){
    .notes-container{
        grid-template-columns: repeat(6 , 1fr);
        grid-auto-rows: 1fr;

    }

} 

@media  screen and (min-width: 1500){
    .notes-container{
        grid-template-columns: repeat(8 , 1fr);
        grid-auto-rows: 1fr;

    }

} 
