
.overlay-null{
    height: 100%;
    width: 100%;
}
.overlay-on{
    z-index: 0;
    display: block;
  
}
.new-note-form{
    display: none;
}
.note-active{
    display: block;
    width: 50%;
    height: 70%;
    margin: auto;
    z-index: 1;
}
.overlay{
    display: none;
}
.noteBoard {
    margin: 0;
    z-index: 0;
    padding: 0;
}
.noteBox{
    height: 100%;
    width: 100%;
   border: solid black;
}
.notes-container{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit , 24%);
    grid-template-rows: repeat(auto-fit , 24%);
    width: 90%;
    height: 100%;
}
.dummy-notes{
    height: 100px;
    width: 70px;
    border: solid 1px black;
}
.sidebar-notes{
    height: 100%;
    width: 10%;
    /* margin-right: 0 !important; */
    display: block;
    float: left;
}

.overlay-header, .overlay-noteBoard,.overlay-footer{
    z-index: -100;
    position: relative;
}